window {
  background-color: #1e1e1e;
}

.ico {
  background-color: #333333;
  border-radius: 20px;
  background-image: none;
}

.srl {
  background-color: #3e3e3e;
}

.play {
  background-color: #333333;
  color: #ffffff;
  font-size: 30px;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  background-image: none;
}

.play:hover {
  background-color: #505050;
  color: #ffffff;
}

scale value {
  color: #ffffff;
}

button {
  background-color: #333333;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: none;
  border: none;
  background-image: none;
}

button:hover {
  background-color: #464646;
}

.name {
  color: #ffffff;
  font-size: 16px;
}